.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #8DFFFC; /* Color azul claro */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.cart {
  margin-bottom: 20px;
}

.checkout-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.checkout-btn:hover {
  background-color: #0056b3;
}
